<div class="chat">
{{debug}}
  <p class="roll-title">Attacking with <b>{{data.name}}</b> ({{roll.min}}-{{roll.max}})</p>
  <p class="roll-result{{#if roll.isMin}} min-roll{{/if}}{{#if roll.isMax}} max-roll{{/if}}">{{roll.total}}</p>
  {{#if roll.criticalFailure}}
    <p>Critical Fail!</p>
  {{else if roll.failure}}
    <p>Fail!</p>
  {{else if roll.criticalSuccess}}
    <p>Critical!</p>
  {{else if roll.success}}
    <p>Success!</p>
  {{/if}}
</div>