<div class="chat">
  <p class="roll-title">Attacking with <b>{{stat.name}}</b></p>
  <p title="{{roll.min}}-{{roll.max}}">{{roll.result}}</p>
  <p class="roll-result{{#if roll.isMin}} min-roll{{/if}}{{#if roll.isMax}} max-roll{{/if}}">{{roll.total}}</p>
</div>