<ol class="items-list" data-type="ancestry">
  <li class="item flexrow items-header">
    <div class="item-name">Ancestry</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="ancestry"><i class="fas fa-plus"></i>Add</a>
    </div>
  </li>
  {{#each data.ancestry}}
    <li class="item flexrow" data-item-id="{{this._id}}">
      <div class="item-name">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"><img src="{{this.img}}" title="{{this.name}}" width="24" height="24"/></a>
        </div>
        <p>{{this.name}}</p>
      </div>
      <div class="item-prop">
        <p><input class="inline-edit" data-field="data.level" type="number" name="ancestry.data.level" value="{{this.data.data.level}}" data-dtype="Number"/></p>
      </div>
      <div class="item-controls">
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>