<div>
  {{#if system.freeStatPointsAvailable }}
    <p>Free points available! ({{system.freeStatPoints.unallocated}})</p>
  {{/if}}
  <table class="statTable">
    <tr>
      <th>Attributes</th>
      <th>Total</th>
      {{#if system.freeStatPointsAvailable }}
        <th>Add</th>
      {{/if}}
    </tr>
    {{#each system.displayStats as |stat|}}
      <tr class="stat-row" data-stat="{{stat.key}}">
        <td title="{{stat.description}}">
          <a class="rollable stat-roll" data-roll-type="stat">
            <img src="{{stat.img}}" title="{{stat.name}}" width="24" height="24"/>
            <span>{{stat.name}}</span>
          </a>
        </td>
        <td title="{{stat.breakdownText}}">{{stat.value}}</td>
        {{#if ../system.freeStatPointsAvailable }}
          <td>
            <a class="item-control stat-add" title="Add free point"><i class="fas fa-plus"></i></a>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </table>
</div>