<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>
    <section class="grid grid-3col">
        <aside class="sidebar item-stats">
            <div class="item-stat-grouping">
                <label for="data.type">Type</label>
                <input type="text" name="data.type" value="{{data.type}}" data-dtype="String"/>
                <label for="data.group">Group</label>
                <input type="text" name="data.group" value="{{data.group}}" data-dtype="String"/>
                <label for="data.category">Category</label>
                <input type="text" name="data.category" value="{{data.category}}" data-dtype="String"/>
            </div>
            <div class="item-stat-grouping">
                <label for="data.attackStat">Attack Stat</label>
                <input type="text" name="data.attackStat" value="{{data.attackStat}}" data-dtype="String"/>
                <label for="data.baseMaxAttack">Attack Roll</label>
                <div class="range">
                    <input type="number" name="data.baseMinAttack" value="{{data.baseMinAttack}}" data-dtype="Number"/> -
                    <input type="number" name="data.baseMaxAttack" value="{{data.baseMaxAttack}}" data-dtype="Number"/>
                </div>
                <label for="data.range">Range</label>
                <input type="number" name="data.range" value="{{data.range}}" data-dtype="Number"/>
            </div>
            <div class="item-stat-grouping">
                <label for="data.damageStat">Damage Stat</label>
                <input type="text" name="data.damageStat" value="{{data.damageStat}}" data-dtype="String"/>
                <label for="data.baseMaxDamage">Damage Range</label>
                <div class="range">
                    <input type="number" name="data.baseMinDamage" value="{{data.baseMinDamage}}" data-dtype="Number"/> -
                    <input type="number" name="data.baseMaxDamage" value="{{data.baseMaxDamage}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="item-stat-grouping">
                <label for="data.category">Min Stat</label>
                <input type="number" name="data.minStat" value="{{data.minStat}}" data-dtype="Number"/>
            </div>
        </aside>

        <section class="main grid-span-2">
            {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner
            editable=editable}}
        </section>
  
    </section>
</form>